<div class="page-control">
    <div>
        {% if page.previous.url %}
        <a id="prev" class="button url_true" href="{{ page.previous.url }}">&laquo;
            이전 글</a>
        {% else %}
        <a id="prev" class="button url_false">&laquo;이전 글</a>
        {% endif %}
    </div>
    <div>
        {% if page.next.url %}
        <a id="next" class="button url_true" href="{{ page.next.url }}">
            다음 글 &raquo;</a>
        {% else %}
        <a id="next" class="button url_false"> 다음 글 &raquo;</a>
        {% endif %}
    </div>
</div>